<html>
  <title><%= @title %></title>
  <style type="text/css">
  	* { font-family: 'Panic Sans', Consolas, monospace; }

  	<% @bg_grad_start_col = "rgb(66,66,66)" %>
  	<% @bg_grad_end_col   = "rgb(33,33,33)" %>
    <% side_margin        = "4.3em" %>
  	
  	body {
  		color: #FFF;
  		background-color: #000;
  		margin: 2em;
  		background-image: -webkit-gradient(
		    linear,
		    left bottom,
		    right top,
		    color-stop(0, <%= @bg_grad_start_col %>),
		    color-stop(0.20, <%= @bg_grad_end_col %>)
  		);
  		background-image: -moz-linear-gradient(
  		    left bottom,
  		    <%= @bg_grad_start_col %> 0%,
  		    <%= @bg_grad_end_col %> 20%
  		);
  	}
    
    a, a:visited   { color:#FFF; }
    a:active       { color:#33F; }

  	.status .code  { font-size:2em; font-weight:bold; }
  	.status .title { font-size:2em; }
  	.status .desc  { font-size:1em; margin-left:<%= side_margin %>; 
	  				         max-width:45em; }

    .more          { padding:0; }
    .more li       { list-style:none; display:inline-block; }
    .more li:after { content:','; }
    .more li:last-child:after { content:none; }

    .gh-badge { opacity:0.2; -webkit-transition: opacity 0.3s linear; }
    .gh-badge:hover { opacity:1; }

  </style>
  <body>
    <a class="gh-badge" href="http://github.com/andrewn/http-status"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://assets2.github.com/img/4c7dc970b89fd04b81c8e221ba88ff99a06c6b61?repo=&url=http%3A%2F%2Fs3.amazonaws.com%2Fgithub%2Fribbons%2Fforkme_right_white_ffffff.png&path=" alt="Fork me on GitHub"></a>
    <%= yield %>
  </body>
</html>