<dl class="status">
	<dt>
		<span class="code"><%= @status["code"] %></span>
		<span class="title"><%= @status["title"] %></span>
	</dt>
	<dd class="desc">
		<%= @status["desc"] %>

		<% if @status["status"] %>
			<ul class="more">
				<% @status["status"].each do |code, status| %>
					<li><a href="/<%= status["code"] %>"><abbr title="<%= status["title"] %>"><%= status["code"] %></abbr></a></li>
				<% end %>
			</ul>
		<% end %>

		<% if @status["parent"] %>
			<ul class="more">
				<li><a href="/<%= @status["parent"]["code"] %>"><%= @status["parent"]["code"] %></a></li>
			</ul>
		<% end %>

	</dd>
</dl>